Makefile
Makefile.in
Makefile.in.in
*.gmo
.deps
.libs
*.lo
*.la
*.o
config.*
autom4te.cache
aclocal.m4
intltool-*
INSTALL
depcomp
gconf-2.0.pc
gconf-2.m4
gconf-zip
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/POTFILES
stamp-*
backends/gconf-merge-tree
backends/xml-test
configure
dbus-tests/test-leaks
dbus-tests/test-schema-bug
dbus-tests/test-stale-value-bug
examples/basic-gconf-app
examples/complex-gconf-app
examples/simple-controller
examples/simple-view
gconf/gconf-sanity-check-2
gconf/gconf.service
gconf/gconfd-2
gconf/gconfmarshal.c
gconf/gconfmarshal.h
gconf/gconftool-2
defaults/gconf-defaults-glue.h
defaults/gconf-defaults-mechanism
defaults/org.gnome.GConf.Defaults.service
defaults/org.gnome.gconf.defaults.policy
po/.intltool-merge-cache
